body {
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #333333;
  background: #f2f2f2;

  font-family: 'PT Sans', arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}
ul{
  margin: 0;
  padding: 0;
}
h1 {
  color: #000000;

  font-family: 'PT Sans Bold', arial;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
h3 {
  color: #000000;

  font-family: 'PT Sans Bold', arial;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-navigation ul,section,article,footer{
    display: flex;
}
.main-header {
  position: relative;

  display: flex;

  height: 56px;
  margin-bottom: 0;

  background-color: #ffffff;
  }
.main-navigation ul{
    flex-direction: row;

    width: 1200px;
    height: 56px;
}
.main-header li {
  display: block;

  margin: 0;
  padding-top: 15px;

  list-style-type: none;
}
.main-header li:first-child {
    box-sizing: border-box;
  width: 20%;
  padding-left: 72px;
}
.main-header li:nth-child(2) {
  width: 20%;
  margin-right: 240px;

    text-align: center;
  }
  .main-header li:nth-child(3) {
  width: 20%;

    text-align: center;
}
.main-header li:last-child {
    box-sizing: border-box;
    width: 20%;
  padding-right: 72px;

    text-align: right;
}
.main-header a {
  text-decoration: none;

  color: #000000;

  font-family: 'PT Sans Bold', arial;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.main-navigation {
  width: 1200px;
  min-height: 56px;

  background-color: #ffffff;
}

.index-logo {
  position: absolute;
  top:0 ;
  left: 50%;

  margin-left: -69px;
}
.welcome-block {
    display: block;

  width: 1200px;
padding-top: 60px;

  background: url('../img/background-photo.jpg') no-repeat top center;
}

.welcome-block img:nth-child(1) {
    display: block;

  width: 458px;
    margin: 0 auto;
}
.welcome-block img:nth-child(2) {
    display: block;
}


.description {
  display: block;

  padding-top: 60px;
  padding-bottom: 59px;

  text-align: center;
}
.description h1{
  margin:0;
}
.description p {
  margin:0;
  padding-top: 40px;
}
.features {
  text-align: center;
}
.features-item {
  width: 400px;
  padding: 45px 0;

  color: #ffffff;
  background-color: #81b3d2;
}

 .features-grey .features-item {
     background-color: grey;
 }

.image {
  color: #ffffff;
  background-color: #81b3d2;
}

.features-image{
  width: 800px;
}
.services {
  padding: 50px 0;

  text-align: center;
}

.services-item {
  display: flex;
  flex-direction: column;

  width: 400px;
}



.services-item img {
  margin-bottom: 15px;

  justify-content: center;
  align-self: center;
}




.services-item h2 {
  margin-bottom: 10px;
}



.services-item p {
  padding: 0 10%;

  justify-content: center;
  align-self: center;
}


.interest-block{
  display: block;

  text-align: center;
}

footer{
  width: 1200px;
  padding: 40px 0;

    text-align: center;
}

.tag-item,
.social,
.developer-item{
  width: 400px;
}
